[Unit]

Description=SonarQube service

After=syslog.target network.target



[Service]

Type=forking



ExecStart=/opt/sonarqube/sonarqube-8.9.10.61524/bin/linux-x86-64/sonar.sh start

ExecStop=/opt/sonarqube/sonarqube-8.9.10.61524/bin/linux-x86-64/sonar.sh stop

StandardOutput=syslog
PermissionsStartOnly=true

User=sonar

Group=sonar

Restart=always




# LimitNOFILE=131072

# LimitNPROC=8192

LimitNOFILE=65536

LimitNPROC=4096


[Install]

WantedBy=multi-user.target
